<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{40.955048, -76.880909}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{40.955054, -76.881135}</string>
	<key>overlayTopLeftCoord</key>
	<string>{40.955120, -76.881080}</string>
	<key>overlayTopRightCoord</key>
	<string>{40.955025, -76.880662}</string>
	<key>boundary</key>
	<array>
		<string>{40.955120, -76.881080}</string>
		<string>{40.955054, -76.881135}</string>
		<string>{40.954908, -76.880700}</string>
		<string>{40.955025, -76.880662}</string>
	</array>
</dict>
</plist>
