<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{40.949200, -76.879805}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{40.948912, -76.881514}</string>
	<key>overlayTopLeftCoord</key>
	<string>{40.949364, -76.880843}</string>
	<key>overlayTopRightCoord</key>
	<string>{40.949783, -76.879006}</string>
	<key>boundary</key>
	<array>
		<string>{40.949364, -76.880843}</string>
		<string>{40.948912, -76.881514}</string>
		<string>{40.948721, -76.880720}</string>
		<string>{40.949189, -76.878620}</string>
		<string>{40.949783, -76.879006}</string>
	</array>
</dict>
</plist>
