<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{40.956244, -76.880574}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{40.956020, -76.880867}</string>
	<key>overlayTopLeftCoord</key>
	<string>{40.956568, -76.880658}</string>
	<key>overlayTopRightCoord</key>
	<string>{40.956443, -76.880336}</string>
	<key>boundary</key>
	<array>
		<string>{40.956568, -76.880658}</string>
		<string>{40.956475, -76.880722}</string>
		<string>{40.956412, -76.880609}</string>
		<string>{40.956020, -76.880867}</string>
		<string>{40.955991, -76.880687}</string>
		<string>{40.956443, -76.880336}</string>
	</array>
</dict>
</plist>
