#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Label_66 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Label_67 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Ellipse_81 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Ellipse_82 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Ellipse_83 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Ellipse_84 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Ellipse_85 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Label_103 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-20a111cd-aaed-4c04-8755-c1c16e71068e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}