#s-51f036de-a31e-44da-82a2-3835013886da #s-Map-Screen {
  border-collapse: separate;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_256 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rich_text_219 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rich_text_220 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 145px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Triangle_14 {
  -ms-transform: rotate(180.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_574 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Image_31 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(351.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 127px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Triangle_4 {
  -ms-transform: rotate(180.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_440 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Pin-red {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_572 {
  -ms-transform: rotate(0.0deg);
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_573 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-51f036de-a31e-44da-82a2-3835013886da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}