#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_256 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rich_text_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rich_text_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Triangle_14 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_574 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Image_31 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -6px;
  margin-top: -14px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -4px;
  margin-top: -11px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -4px;
  margin-top: -9px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -13px;
  margin-top: -9px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -23px;
  margin-top: -3px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -11px;
  margin-top: -10px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -14px;
  margin-top: -22px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -13px;
  margin-top: -9px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  filter: alpha(opacity=60)  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9876883405951377,M12=0.15643446504023112,M21=-0.15643446504023112,M22=0.9876883405951377);
  margin-left: -5px;
  margin-top: -34px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Triangle_4 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_440 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Pin-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_572 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51f036de-a31e-44da-82a2-3835013886da #s-Label_573 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-51f036de-a31e-44da-82a2-3835013886da > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}