#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Camera-icon {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Time-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Date-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_406 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_407 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_76 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_77 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_78 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_79 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_80 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Slide-Rectangle-Top {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Slide-Rectangle-Bottom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}