#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Camera-icon {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Time-Label {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Date-Label {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_406 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_407 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_64 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_65 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_76 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_77 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_78 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_79 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Ellipse_80 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Label_102 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Slide-Rectangle-Top {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 #s-Slide-Rectangle-Bottom {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5b15f10f-d751-4b05-9ba0-38ba9c67abb2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}