#s-a4f4be95-696d-415f-8104-900406eeac1f #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4f4be95-696d-415f-8104-900406eeac1f #s-App-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4f4be95-696d-415f-8104-900406eeac1f #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4f4be95-696d-415f-8104-900406eeac1f #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4f4be95-696d-415f-8104-900406eeac1f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a4f4be95-696d-415f-8104-900406eeac1f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}