#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-App-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}