#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-App-logo {
  -ms-transform: rotate(0.0deg);
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-Rich_text_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-top: 22px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 266px;
  height: 134px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-Label_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b5fbd82c-b86b-4696-9bd6-2374d86b15d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}