#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Label_432 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Label_441 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Label_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Ellipse_79 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Ellipse_80 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Ellipse_81 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Ellipse_82 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Label_458 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Label_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 #s-Rich_text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-eaaab8bf-e2d0-4f06-a5d3-6f014a0ae206 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}